* {
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', cursive;
    /* border: 1px solid #ff0000 */
  }

body {
    background-image: url("https://i.imgur.com/iYwk9Ks.jpg")

}

/* .header {
    display: flex;
    flex-direction: column;
    flex-wrap: colum wrap;
    row-gap: 1vmin;
    align-items: flex-center;

} */

h1 {
    text-align: center;
    font-size: 8vmin;
    color: rgb(183,55,52);
}

h2 {
    text-align: center;
    font-size: 4vmin;
    color: rgb(183,55,52);
}

.attempts {
    display: flex;
    justify-content: flex-end;
    margin-top: 40vim;
    font-size: 3vmin;
    color: rgb(253,231,127);
}


div {
    /* border: 1px solid #ff0000 */
}

.snow {
    background-image: url("https://www.rpnation.com/gallery/falling-snow-gif-transparent-background.26847/full");
    background-position: center;
    background-repeat: no-repeat; 
}   


.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alphabet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}


button {
    margin-top: .5vmin;
    padding: 1vmin;
    background-color:rgb(205, 150, 95);
    color: rgb(183,55,52);
    border-radius: 1vmin;
    font-size: 1vmin;
    justify-content: center;
  }

button:hover {
    background-color: white;
    color: rgb(183,55,52);
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}


